<form [formGroup]="signUpForm" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onSignUp()">
  <h3>Login</h3>
  <div>
    <mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
      <mat-form-field>
        <input matInput formControlName="email" type="email" placeholder="Email">
        <mat-error *ngIf="signUpForm.get('email')?.errors?.required">
          Email is required
        </mat-error>
        <mat-error *ngIf="signUpForm.get('email')?.errors?.email">
          Please enter valid email
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="password" type="password" placeholder="Password">
        <mat-error>
          Password is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="confirm_password" placeholder="Confirm Password">
        <mat-error>
          Confirm Password is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Name">
        <mat-error>
          Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="job_category" placeholder="Job Category">
        <mat-error>
          Job Category is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="experience_level" placeholder="Experience Level">
        <mat-error>
          Experience Level is required
        </mat-error>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="30px">
        <mat-spinner [diameter]="20" *ngIf="isLoader"></mat-spinner>
        <button type="button" mat-raised-button (click)="goToLogin()">Login</button>
        <button type="submit" mat-raised-button>Sign Up</button>
      </div>
    </mat-card>
  </div>
</form>
