<form [formGroup]="resumeForm" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="createResume()">
    <div>
        <mat-card *ngIf="!isCompleted" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
            <h1>Name your Resume</h1>
            <mat-form-field>
                <input matInput formControlName="name" type="text" placeholder="Resume Name">
                <mat-hint>It can't be seen by others</mat-hint>
                <mat-error>
                    Resume Name is required
                </mat-error>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="30px">
                <mat-spinner [diameter]="20" *ngIf="isLoader"></mat-spinner>
                <button type="submit" matStepperNext mat-raised-button>SAVE</button>
            </div>
        </mat-card>
        <div fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="start center" *ngIf="isCompleted && !isLoader">
            This step is already completed
            <button type="button" matStepperNext mat-raised-button>NEXT</button>
        </div>
    </div>
</form>
