<div fxLayout="column" fxLayoutAlign="start center">
    <mat-tab-group dynamicHeight mat-align-tabs="center" style="width: 100%;" animationDuration="2000ms">
        <mat-tab label="UPLOAD PROFILE IMAGE">
            <app-upload-image [resume]="resume"></app-upload-image>
        </mat-tab>
        <mat-tab label="UPLOAD EXISTING VIDEO"></mat-tab>
        <mat-tab label="PASTE YOUTUBE LINK">
          <app-upload-youtube-link [resume]="resume"></app-upload-youtube-link>
        </mat-tab>
    </mat-tab-group>
</div>
