<form [formGroup]="contactDetailForm" (ngSubmit)="data.contactDetails ? update() : save()">
  <div fxLayout="column">
    <mat-form-field>
      <input formControlName="first_name" matInput placeholder="First Name*">
      <mat-error>
        First Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="last_name" matInput placeholder="Last Name*">
      <mat-error>
        Last Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="phone_number" matInput placeholder="Mobile Number*">
      <mat-error>
        Mobile Number is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="email" matInput placeholder="Email*">
      <mat-error *ngIf="contactDetailForm.get('email')?.errors?.required">
        Email is required
      </mat-error>
      <mat-error *ngIf="contactDetailForm.get('email')?.errors?.email">
        Please enter valid email
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="linkedin_url" matInput placeholder="Linkedin URL (Optional)">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="website_url" matInput placeholder="Website URL (Optional)">
    </mat-form-field>
    <mat-form-field>
      <textarea formControlName="address" matInput placeholder="Address*" rows="5"></textarea>
      <mat-error>
        Address is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="city" matInput placeholder="City*">
      <mat-error>
        City is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="state" matInput placeholder="State*">
      <mat-error>
        State is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="zip_code" matInput placeholder="Zip Code*">
      <mat-error>
        Zip Code is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="country" matInput placeholder="Country*">
      <mat-error>
        Country is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea formControlName="summary" matInput placeholder="Few thing about yourself*" rows="5"></textarea>
      <mat-error>
        Summary is required
      </mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
      <button mat-raised-button type="submit" color="primary">{{data.contactDetails ?'Update': 'Save'}}</button>
      <button mat-raised-button type="button" (click)="dialogRef.close()">Cancel</button>
    </div>
  </div>

</form>
