<mat-horizontal-stepper *ngIf="!isLoader">
  <mat-step>
    <ng-template matStepLabel>Name Your Resume</ng-template>
    <app-resume-name-component [isCompleted]="isFirstStepCompleted"></app-resume-name-component>
  </mat-step>
  <mat-step *ngIf="isFirstStepCompleted" optional>
    <ng-template matStepLabel>Upload Video and Image</ng-template>
    <app-upload [resume]="resume"></app-upload>
  </mat-step>
  <mat-step *ngIf="isFirstStepCompleted" >
    <ng-template matStepLabel>Resume Form</ng-template>
    <app-resume-form-component [resume]="resume"></app-resume-form-component>
  </mat-step>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner *ngIf="isLoader"></mat-spinner>
  </div>

</mat-horizontal-stepper>
