<span>-----------abc----------</span>
<p>Welcome {{getUserName()}} with id => {{id}}</p>
<button [disabled]="isDisable" (click)="changeTheSpan()">Disable Me</button>
<button (click)="enableButton()">Enable Me</button>
<br>
<span [title]="title">{{isDisable ? 'Ram' :'Shyam' }} </span>
<br>

<app-abc-input></app-abc-input>

<p>{{Value | currency:'INR':'symbol':'4.2-2':'en-IN'}}</p>
<div>{{ messages.length | i18nPlural: messageMapping }}</div>


<span>-----------Input-Component----------</span>
<app-input-compo [title]="'Video 1'" [desc]="'Description 1'" [loadDD]="ddData" (onDDChange)="onChange($event)" [url]="'/tt1'" (editVideo)="onEditVideo($event)"></app-input-compo>
<app-input-compo [title]="'Video 2'" [desc]="'Description 2'" [url]="'/tt2'" (editVideo)="onEditVideo($event)">
</app-input-compo>

<br>
<span>-----------app-mat-input----------</span>
<app-mat-input></app-mat-input>


<span>-----------app-content-and-container---------</span>
<br>
<app-content-and-container>
    <h1 t1>Rishabh</h1>
    <h1 t2>Kumar</h1>
    <h1 t3>Bakshi</h1>
</app-content-and-container>
