<div *ngIf="!loading" style="margin-bottom: 3rem; margin-top: 3rem" fxLayout="column" fxLayoutAlign="start center"
  fxLayoutGap="30px">
  <input accept="image/jpef, image/png" (change)="onImageSelect($event)" hidden #inputFileControl type="file" />
  <h1 style="font-weight: bolder; font-size: 2rem">
    <mat-icon>cloud_upload</mat-icon>
    Upload Profile Image
  </h1>
  <mat-hint style="font-size: 1rem">Please upload image up to 2mb</mat-hint>
  <button style="color: green" (click)="onBtnClick()" type="button" mat-raised-button *ngIf="!isUploaded">
    <mat-icon>{{ selectLabel }}</mat-icon>
    <span *ngIf="!isSelected">SELECT</span>
    <span *ngIf="isSelected">CHANGE</span>
  </button>
  <img #previewImage [src]="url" height="200px" />
  <button style="color: blue" type="button" *ngIf="isSelected && !isUploaded" mat-raised-button (click)="onSave()">
    SAVE
  </button>
  <button style="color: red" type="button" *ngIf="isSelected && isUploaded" mat-raised-button (click)="onDelete()">
    DELETE
  </button>
</div>
<div fxLayout="column" fxLayoutAlign="center center" style="height: 100vh">
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>
