<div class="pos-relative" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
  <div class="cards-outer-div " fxLayout="column" fxLayoutAlign="center center">
    <ng-container *ngIf="!contactDetails">
      <h3 class="empty-heading">
        No contact details is added yet
      </h3>
    </ng-container>
    <ng-container *ngIf="contactDetails">
      <h3 style="margin: 0; font-weight: bold;">
        {{contactDetails.first_name}}
      </h3>
      <h3 style="margin: 0; font-weight: bold;">
        {{contactDetails.last_name}}
      </h3>
      <p style="margin: 0;">
        {{contactDetails.address}}
      </p>
      <p style="margin: 0;">
        {{contactDetails.city}}
      </p>
      <p style="margin: 0;">
        {{contactDetails.country}}
      </p>
    </ng-container>
    <div fxLayoutWrap="wrap" fxLayoutAlign="center center">
      <div class="hover-container">
        <div class="hover" (click)="openContactForm()">
          <button class="resume-form-mat-icon-button" mat-icon-button>
            <mat-icon class="resume-form-mat-icon">{{!contactDetails? 'add' :'create'}}</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
