<form [formGroup]="forgotPasswordForm" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="!hidePasswordFields ? sendEmail() : changePassword()">
    <h3>Forgot Password</h3>
    <div>
        <mat-card fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
            <mat-form-field *ngIf="!hidePasswordFields">
                <input matInput formControlName="email" type="email" placeholder="Email">
                <mat-error>
                    Email is required
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="hidePasswordFields">
                <input matInput formControlName="code" placeholder="Enter Code">
                <mat-error>
                    Code is required
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="hidePasswordFields">
                <input matInput formControlName="new_password" type="password" placeholder="New Password">
                <mat-error>
                    New Password is required
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="hidePasswordFields">
                <input matInput formControlName="confirm_password" placeholder="Confirm Password">
                <mat-error>
                    Confirm Password is required
                </mat-error>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="30px">
                <mat-spinner [diameter]="20" *ngIf="isLoader"></mat-spinner>
                <button mat-raised-button type="submit" *ngIf="hidePasswordFields" (click)="changePassword()">Change Password
        </button><button mat-raised-button type="button" *ngIf="hidePasswordFields" (click)="goToLogin()">Go To
          Login</button>
                <button mat-raised-button type="submit" *ngIf="!hidePasswordFields">Sent Email</button>
            </div>
        </mat-card>
    </div>
</form>