/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cards-outer-div {
    position: relative;
    background: #e5fade;
    border: 2.5px dashed #d8d8d8;
    width: 95%;
    height: 7rem;
}

.hover-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    transition: background 0.5s ease;
}

.resume-form-mat-icon-button {
    margin-top: 2rem !important;
}

.resume-form-mat-icon {
    font-size: 30px !important;
}

.cards-outer-div:hover .hover-container {
    display: block;
    background: rgba(0, 0, 0, 0.3);
}

.cards-outer-div:hover .hover {
    opacity: 1;
}

.hover {
    opacity: 0;
    text-align: center;
    transition: opacity .35s ease;
    color: white;
}
